.body {
    font-family: OpenSans, sans-serif;
}

.location {
    background-color: black;
    color: whitesmoke;
}

.main-weather-box {
    font-size: 18pt;
}

.weather {
     padding: 30px;
     text-align: center;
}

/* Remove ugly after-pressed effect */

.btn:focus,
.btn:active {
	outline: none !important;
	box-shadow: none !important;
}

td {
    text-align: left;
}